In [13]:
#pip install pymongo
!pip install pymongo

Requirement already satisfied: pymongo in c:\users\pc\anaconda3\lib\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\pc\anaconda3\lib\site-packages (from pymongo) (2.3.0)

In [14]:
from pymongo import MongoClient

In [15]:
# First create one MongoDB Client to execute any further commands.
client = MongoClient('mongodb://localhost:27017/')

In [16]:
# To show all database name
client.list_database_names()

['admin', 'config', 'local']

In [17]:
# Create database variable to work on any database "demo"
db = client["demo"]

In [18]:
# To fetch all collection inside "demo" database
db.list_collection_names()

[]

In [19]:
collection = db["students"]

In [20]:
#Better use students variable itself
students = db["students"]

In [21]:
students.count_documents({})

0

In [22]:
students.insert_one({"id":1,"name":"sunny kumart","country":"IN"})

In [23]:
students.count_documents({})

1

In [24]:
students.find_one()

{'_id': ObjectId('6415c1f6ccb3993d2fbb9e7a'),
 'id': 1,
 'name': 'sunny kumart',
 'country': 'IN'}

In [25]:
# Multiple insert
studentlist = [
  { "id":1,"name":"sunny kumar","country":"IN"},
  { "id":2,"name":"Bill Gates","country":"US"},
  { "id":3,"name":"Steve Jobs","country":"US"},
  { "id":4,"name":"Narayan Murthy","country":"IN"},
  { "id":5,"name":"Azim Premji","country":"IN"},
  { "id":6,"name":"Nandan Nilekani","country":"IN"},
  { "id":7,"name":"sundar pichai","country":"IN"}
]

In [26]:
students.insert_many(studentlist)

In [27]:
students.count_documents({})

8

In [28]:
# Display all records
for student in students.find():
  print(student)

{'_id': ObjectId('6415c1f6ccb3993d2fbb9e7a'), 'id': 1, 'name': 'sunny kumart', 'country': 'IN'}
{'_id': ObjectId('6415c1f7ccb3993d2fbb9e7b'), 'id': 1, 'name': 'sunny kumar', 'country': 'IN'}
{'_id': ObjectId('6415c1f7ccb3993d2fbb9e7c'), 'id': 2, 'name': 'Bill Gates', 'country': 'US'}
{'_id': ObjectId('6415c1f7ccb3993d2fbb9e7d'), 'id': 3, 'name': 'Steve Jobs', 'country': 'US'}
{'_id': ObjectId('6415c1f7ccb3993d2fbb9e7e'), 'id': 4, 'name': 'Narayan Murthy', 'country': 'IN'}
{'_id': ObjectId('6415c1f7ccb3993d2fbb9e7f'), 'id': 5, 'name': 'Azim Premji', 'country': 'IN'}
{'_id': ObjectId('6415c1f7ccb3993d2fbb9e80'), 'id': 6, 'name': 'Nandan Nilekani', 'country': 'IN'}
{'_id': ObjectId('6415c1f7ccb3993d2fbb9e81'), 'id': 7, 'name': 'sundar pichai', 'country': 'IN'}

In [29]:
# Display limited documents
for student in students.find().limit(2):
  print(student)

{'_id': ObjectId('6415c1f6ccb3993d2fbb9e7a'), 'id': 1, 'name': 'sunny kumart', 'country': 'IN'}
{'_id': ObjectId('6415c1f7ccb3993d2fbb9e7b'), 'id': 1, 'name': 'sunny kumar', 'country': 'IN'}

In [30]:
# Show only name and country details
for student in students.find({},{"_id": 0,"name": 1,"country": 1}):
  print(student)

{'name': 'sunny kumart', 'country': 'IN'}
{'name': 'sunny kumar', 'country': 'IN'}
{'name': 'Bill Gates', 'country': 'US'}
{'name': 'Steve Jobs', 'country': 'US'}
{'name': 'Narayan Murthy', 'country': 'IN'}
{'name': 'Azim Premji', 'country': 'IN'}
{'name': 'Nandan Nilekani', 'country': 'IN'}
{'name': 'sundar pichai', 'country': 'IN'}

In [31]:
# Get all record country is IN
for student in students.find({"country":"IN"}):
  print(student)

{'_id': ObjectId('6415c1f6ccb3993d2fbb9e7a'), 'id': 1, 'name': 'sunny kumart', 'country': 'IN'}
{'_id': ObjectId('6415c1f7ccb3993d2fbb9e7b'), 'id': 1, 'name': 'sunny kumar', 'country': 'IN'}
{'_id': ObjectId('6415c1f7ccb3993d2fbb9e7e'), 'id': 4, 'name': 'Narayan Murthy', 'country': 'IN'}
{'_id': ObjectId('6415c1f7ccb3993d2fbb9e7f'), 'id': 5, 'name': 'Azim Premji', 'country': 'IN'}
{'_id': ObjectId('6415c1f7ccb3993d2fbb9e80'), 'id': 6, 'name': 'Nandan Nilekani', 'country': 'IN'}
{'_id': ObjectId('6415c1f7ccb3993d2fbb9e81'), 'id': 7, 'name': 'sundar pichai', 'country': 'IN'}

In [32]:
# Get all record id is more than 2
for student in students.find({"id":{"$gt": 2}}):
  print(student)

{'_id': ObjectId('6415c1f7ccb3993d2fbb9e7d'), 'id': 3, 'name': 'Steve Jobs', 'country': 'US'}
{'_id': ObjectId('6415c1f7ccb3993d2fbb9e7e'), 'id': 4, 'name': 'Narayan Murthy', 'country': 'IN'}
{'_id': ObjectId('6415c1f7ccb3993d2fbb9e7f'), 'id': 5, 'name': 'Azim Premji', 'country': 'IN'}
{'_id': ObjectId('6415c1f7ccb3993d2fbb9e80'), 'id': 6, 'name': 'Nandan Nilekani', 'country': 'IN'}
{'_id': ObjectId('6415c1f7ccb3993d2fbb9e81'), 'id': 7, 'name': 'sundar pichai', 'country': 'IN'}

In [33]:
# Get all record name start with "B"
for student in students.find({"name":{"$regex": "^B"}}):
  print(student)

{'_id': ObjectId('6415c1f7ccb3993d2fbb9e7c'), 'id': 2, 'name': 'Bill Gates', 'country': 'US'}

In [34]:
# Sort on name field
# Display all records
for student in students.find().sort("name"):
  print(student)

{'_id': ObjectId('6415c1f7ccb3993d2fbb9e7f'), 'id': 5, 'name': 'Azim Premji', 'country': 'IN'}
{'_id': ObjectId('6415c1f7ccb3993d2fbb9e7c'), 'id': 2, 'name': 'Bill Gates', 'country': 'US'}
{'_id': ObjectId('6415c1f7ccb3993d2fbb9e80'), 'id': 6, 'name': 'Nandan Nilekani', 'country': 'IN'}
{'_id': ObjectId('6415c1f7ccb3993d2fbb9e7e'), 'id': 4, 'name': 'Narayan Murthy', 'country': 'IN'}
{'_id': ObjectId('6415c1f7ccb3993d2fbb9e7d'), 'id': 3, 'name': 'Steve Jobs', 'country': 'US'}
{'_id': ObjectId('6415c1f7ccb3993d2fbb9e81'), 'id': 7, 'name': 'sundar pichai', 'country': 'IN'}
{'_id': ObjectId('6415c1f7ccb3993d2fbb9e7b'), 'id': 1, 'name': 'sunny kumar', 'country': 'IN'}
{'_id': ObjectId('6415c1f6ccb3993d2fbb9e7a'), 'id': 1, 'name': 'sunny kumart', 'country': 'IN'}

In [35]:
#Update Many
myquery = { "country": { "$regex": "^IN" } }
newvalues = { "$set": { "country": "IND" } }

result = students.update_many(myquery, newvalues)

print(result.modified_count, "documents updated.")

6 documents updated.

In [36]:
for student in students.find().sort("name"):
  print(student)

{'_id': ObjectId('6415c1f7ccb3993d2fbb9e7f'), 'id': 5, 'name': 'Azim Premji', 'country': 'IND'}
{'_id': ObjectId('6415c1f7ccb3993d2fbb9e7c'), 'id': 2, 'name': 'Bill Gates', 'country': 'US'}
{'_id': ObjectId('6415c1f7ccb3993d2fbb9e80'), 'id': 6, 'name': 'Nandan Nilekani', 'country': 'IND'}
{'_id': ObjectId('6415c1f7ccb3993d2fbb9e7e'), 'id': 4, 'name': 'Narayan Murthy', 'country': 'IND'}
{'_id': ObjectId('6415c1f7ccb3993d2fbb9e7d'), 'id': 3, 'name': 'Steve Jobs', 'country': 'US'}
{'_id': ObjectId('6415c1f7ccb3993d2fbb9e81'), 'id': 7, 'name': 'sundar pichai', 'country': 'IND'}
{'_id': ObjectId('6415c1f7ccb3993d2fbb9e7b'), 'id': 1, 'name': 'sunny kumar', 'country': 'IND'}
{'_id': ObjectId('6415c1f6ccb3993d2fbb9e7a'), 'id': 1, 'name': 'sunny kumart', 'country': 'IND'}